* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.parent {
    padding: 20px;
    width: 100%;
    background-color: #FFFFFF;
}

.parent .parent-dragable {
    width: 100%;
    max-width: 500px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.parent .parent-dragable .input-label {
    padding: 7px;
    border: 1px dashed #46419D;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    -webkit-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.parent .parent-dragable .input-label.dragover {
    background-color: #8883e7;
}

.parent .parent-dragable .input-label .drag-title {
    font-size: 27px;
    font-weight: 700;
    color: #46419D;
    text-align: center;
    display: inline;
    padding: 0 7px;
}

.parent .parent-dragable .input-file {
    display: none;
}

.parent-upload-loader {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
}

.parent-upload-loader.active {
    display: flex;
}
